.oTaE{
    .LB4I{
        ._3fS2.o-cw._1ubS._1B3o{
            opacity: 1;
            pointer-events: all;
            display: initial;
            flex-basis: 25%;
            max-width: 25%;
            flex: 0 0 auto;
            flex-grow: 1;

            a{
                text-decoration: none;
                display: block;

                div{
                    ._2Ku2{
                        border-radius: 8px;
                        box-shadow: 0 4px 8px 0 rgb(48 82 120 / 8%);
                        background-color: #fff;
                        padding: 16px;
                        color: #7b93a4;
                        min-height: 200px;
                        pointer-events: none;

                        ._3ow9{
                            font-size: 18px;
                            color: #324c5b;
                            display: block;
                            margin: 0;
                            padding: 0;
                            word-break: break-all;
                            line-height: 1.4;
                        }

                        .vBKU{
                            font-size: 14px;
                            display: block;
                            color: #7b93a4;
                        }

                        ._3JW3{
                            margin-top: 16px;
                            font-size: 18px;
                            display: block;

                            span{
                                ._2djs._2UNd{
                                    color: #1acb82;
                                    font-weight: 700;
                                }
                            }
                        }

                        ._2f--{
                            display: block;
                            font-size: 14px;
                            margin-bottom: 16px;
                        }

                        .s0y4._15eb{
                            width: 100%;

                            .wW2c._15eb{
                                height: 32px;
                                background: #e5ebee;
                                border-radius: 4px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                position: relative;
                                font-weight: 700;

                                ._3ugj{
                                    align-items: center;
                                    height: 100%;
                                    border-radius: 4px;
                                    display: flex;
                                    position: relative;
                                    z-index: 1;
                                    overflow: hidden;
                                    transition: width 0.6s;
                                    background: #1acb82;

                                    .wD7J{
                                        display: inline-flex;
                                        color: #fff;

                                        &:before {
                                            content: "";
                                            width: 16px;
                                        }
                                    }
                                }

                                .wD7J.lz4G._15eb{
                                    height: 32px;
                                    color: #324c5b;
                                    position: absolute;
                                    top: 0;
                                    display: flex;
                                    align-items: center;

                                    &:before {
                                        content: "";
                                        width: 16px;
                                    }
                                }
                            }

                            .nKyy{
                                display: flex;
                                justify-content: space-between;
                                margin-top: 4px;
                                font-size: 14px;
                                color: #7b93a4;
                            }
                        }
                    }
                }
            }
        
            ._3wsj._3GOa{
                position: relative;
                width: 100%;
                padding: 15px;
                background-color: white;
                border-radius: 8px;
                font-size: 14px;
                text-align: center;
                color: #7b93a4;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 207px;

                ._3SdL._2_oj {
                    background-color: #12c48b;
                    color: #fff;
                    transition: all .2s ease-in-out;
                    position: relative;
                    display: block;
                    height: 34px;
                    line-height: 34px;
                    width: 100%;
                    padding: 0 8px;
                    border-radius: 4px;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    outline: none;
                    font-size: 14px;
                    font-weight: 600;
                    border: none;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.ReactModal__Content.ReactModal__Content--after-open._2RxW.otWy{
    ._3EUw{
        form{
            ._2ZwS._3U03._2VOV{
                ._13pY{
                    .j4fJ{
                        ._2BJz{
                            ._2wfn{
                                ._2Gra.required._1rNF{
                                    ._1DjS.required{
                                        &:hover{
                                            border-color: #bbcdd8;

                                            ._3fMh{
                                                .Select-control{
                                                    .Select-arrow-zone{
                                                        .Select-arrow{
                                                            border-color: #324c5b;
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        ._3fMh{
                                            position: relative;
                                            
                                            .Select-control{
                                                border-radius: 4px;
                                                color: #333;
                                                cursor: default;
                                                display: table;
                                                border-spacing: 0;
                                                border-collapse: separate;
                                                height: 36px;
                                                outline: none;
                                                overflow: hidden;
                                                position: relative;
                                                width: 100%;

                                                .Select-multi-value-wrapper{
                                                    display: inline-block;

                                                    .Select-value{
                                                        bottom: 0;
                                                        color: #324c5b;
                                                        left: 0;
                                                        line-height: 38px;
                                                        padding-left: 10px;
                                                        padding-right: 10px;
                                                        position: absolute;
                                                        right: 0;
                                                        top: 0;
                                                        max-width: 100%;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;
                                                        white-space: nowrap;
                                                        font-size: 14px;
                                                        display: flex;
                                                        align-items: center;

                                                        .Select-value-label{
                                                            color: #324c5b;

                                                            ._8Sy_{
                                                                margin-left: -3px;
                                                                display: flex;
                                                                align-items: center;

                                                                ._3q8K{
                                                                    position: relative;

                                                                    .w0QU._3FJM{
                                                                        min-width: 28px;
                                                                        min-height: 28px;
                                                                        max-height: 28px;
                                                                        width: 28px;
                                                                        height: 28px;
                                                                        font-weight: 700;
                                                                        font-size: 12px;
                                                                        background: #eee;
                                                                        border-radius: 100%;
                                                                        overflow: hidden;
                                                                        display: flex;
                                                                        align-items: center;
                                                                        justify-content: center;
                                                                        position: relative;
                                                                    }
                                                                }

                                                                ._3UJt{
                                                                    display: flex;
                                                                    flex-direction: column;
                                                                    margin-left: 0.7em;
                                                                    color: #324c5b;

                                                                    ._3rmc{
                                                                        line-height: 1.3em;
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .Select-arrow-zone{
                                                    cursor: pointer;
                                                    display: table-cell;
                                                    position: relative;
                                                    text-align: center;
                                                    vertical-align: middle;
                                                    width: 8px;
                                                    padding: 0 11px;
                                                    background-image: linear-gradient( to right, rgba(255, 255, 255, 0), white 30% );
                                                    overflow: hidden;
                                                    border-radius: 4px;

                                                    .Select-arrow{
                                                        position: relative;
                                                        display: block;
                                                        height: 8px;
                                                        width: 8px;
                                                        margin-top: -2px;
                                                        border: 2px solid #bbcdd8;
                                                        border-right-width: 0;
                                                        border-top-width: 0;
                                                        transform: rotate(-45deg);
                                                        transition: all .2s ease-in-out;
                                                    }
                                                }
                                            }

                                            .Select-menu-outer-wrapper{
                                                display: none;
                                                position: absolute;
                                                top: 41px;
                                                left: 0;
                                                width: 270px;
                                                height: 300px;
                                                border: 1px solid #bbcdd8;
                                                border-radius: 4px;
                                                background-color: white;
                                                z-index: 951;

                                                .all{
                                                    padding: 5px;
                                                    border-bottom: #bbcdd8 1px solid;

                                                    .allCategory{
                                                        display: relative;
                                                        display: inline-flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        line-height: 20px;
                                                        color: #324c5b;
                                                        transition: color .2s ease-in-out;

                                                        &:hover{
                                                            ._1yjd{
                                                                border-color: #12c48b;
                                                            }
                                                        }

                                                        input{
                                                            position: absolute;
                                                            left: -9999px;
        
                                                            &:checked ~ {
                                                                ._1yjd{
                                                                    border-color: transparent;
                                                                    border: none !important;
                                                                    box-shadow: 0px 0px 0px 10px #12c48b inset;

                                                                    &::after{
                                                                        opacity: 1;
                                                                        transform: rotate(
                                                                            45deg) scale(1);
                                                                    }
                                                                }  
                                                            }
                                                        }

                                                        ._1yjd{
                                                            color: #324c5b;
                                                            position: relative;
                                                            box-shadow: 0px 0px 0px 0px #e5ebee inset;
                                                            display: inline-flex;
                                                            align-items: center;
                                                            justify-content: center;
                                                            width: 20px;
                                                            min-width: 20px;
                                                            height: 20px;
                                                            min-height: 20px;
                                                            margin-right: 10px;
                                                            background-color: #fff;
                                                            border: 1px solid transparent;
                                                            border-radius: 4px;
                                                            border-color: #e5ebee;
                                                           

                                                            &:hover{
                                                                border-color: #bbcdd8;
                                                            }

                                                            &::after {
                                                                content: '';
                                                                position: absolute;
                                                                top: 3px;
                                                                left: 7px;
                                                                width: 5px;
                                                                height: 11px;
                                                                border-right: 2px solid #fff;
                                                                border-bottom: 2px solid #fff;
                                                                opacity: 0;
                                                            }

                                                            ._3Go8{
                                                                user-select: none;
                                                                cursor: pointer;
                                                            }
                                                        }
                                                    }
                                                }

                                                .listCategory{
                                                    height: 260px;
                                                    overflow: auto;
                                                    position: absolute;
                                                    top: 35px;
                                                    width: 100%;

                                                    .childcategory{
                                                        padding: 5px;

                                                        &:hover{
                                                            background-color: #f4f7fa;
                                                            cursor:default;
                                                        }

                                                        .Category{
                                                            width: 100%;
                                                            display: relative;
                                                            display: inline-flex;
                                                            align-items: center;
                                                            line-height: 20px;
                                                            color: #324c5b;
                                                            transition: color .2s ease-in-out;
    
                                                            &:hover{
                                                                ._1yjd{
                                                                    border-color: #12c48b;
                                                                }
                                                            }
    
                                                            input{
                                                                position: absolute;
                                                                left: -9999px;
            
                                                                &:checked ~ {
                                                                    ._1yjd{
                                                                        border-color: transparent;
                                                                        border: none !important;
                                                                        box-shadow: 0px 0px 0px 10px #12c48b inset;
    
                                                                        &::after{
                                                                            opacity: 1;
                                                                            transform: rotate(
                                                                                45deg) scale(1);
                                                                        }
                                                                    }  
                                                                }
                                                            }
    
                                                            ._1yjd{
                                                                color: #324c5b;
                                                                position: relative;
                                                                box-shadow: 0px 0px 0px 0px #e5ebee inset;
                                                                display: inline-flex;
                                                                align-items: center;
                                                                justify-content: center;
                                                                width: 20px;
                                                                min-width: 20px;
                                                                height: 20px;
                                                                min-height: 20px;
                                                                margin-right: 10px;
                                                                background-color: #fff;
                                                                border: 1px solid transparent;
                                                                border-radius: 4px;
                                                                border-color: #e5ebee;
                                                               
    
                                                                &:hover{
                                                                    border-color: #bbcdd8;
                                                                }
    
                                                                &::after {
                                                                    content: '';
                                                                    position: absolute;
                                                                    top: 3px;
                                                                    left: 7px;
                                                                    width: 5px;
                                                                    height: 11px;
                                                                    border-right: 2px solid #fff;
                                                                    border-bottom: 2px solid #fff;
                                                                    opacity: 0;
                                                                }
    
                                                                ._3Go8{
                                                                    user-select: none;
                                                                    cursor: pointer;
                                                                }
                                                            }
    
                                                            ._3-9b._1Oob{
                                                                min-width: 34px;
                                                                min-height: 34px;
                                                                max-height: 34px;
                                                                width: 34px;
                                                                height: 34px;
                                                                border-radius: 100%;
                                                                display: inline-block;
                                                                align-items: center;
                                                                justify-content: center;
                                                                color: white;
    
                                                                img{
                                                                    width: 34px;
                                                                    height: 34px;
                                                                    object-fit: cover;
                                                                }
                                                            }
    
                                                            .KKUC{
                                                                margin-left: 8px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        ._3fMh.is-open{
                                            .Select-control{
                                                .Select-arrow-zone{
                                                    .Select-arrow{
                                                        border-color: #324c5b;
                                                        transform: rotate(135deg);
                                                    }
                                                }
                                            }

                                            .Select-menu-outer-wrapper{
                                                display: block;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}