._3u9e{
    background: white;
    border-radius: 8px;
    padding: 0 15px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;

    ._1-UC{
        flex-grow: 1;
        margin: 0;
        padding: 0;
        align-items: center;
        list-style: none;
        display: flex;

        .hk2G{
            display: flex;
            font-size: 16px;
            color: #324c5b;

            ._3WuR._1gOp {
                color: #324c5b;
                text-decoration: none;
                position: relative;
                display: inline;
                border: none;
                cursor: pointer;
                outline: none;
                white-space: nowrap;
                transition: color .2s ease-in-out;

                &:hover{
                    text-decoration: underline;
                }

                ._80fu{
                    font-size: 18px;
                    color: #324c5b;
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                    line-height: 1em;
                    white-space: normal;
                    word-break: break-all;
                }

                ._1-3L{
                    font-size: 14px;
                    color: #7b93a4;
                    padding: 0;
                    margin: 0;
                }
            }

            ._3RIH{
                color: #93a1aa;
                display: flex;
                align-items: center;
                margin: 0px 9px;
            }

            &:last-child{
                ._3RIH{
                    display: none;
                }
            }
        }
    }

    ._3rg0{
        flex-grow: 0;
        width: auto;

        ._3SdL._3j13 {
            color: #12c48b;
            background-color: #e7f9f3;
            position: relative;
            display: block;
            height: 34px;
            line-height: 34px;
            width: 100%;
            padding: 0 8px;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            outline: none;
            font-size: 14px;
            font-weight: 600;
            border: none;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            transition: background-color .2s ease-in-out;

            &:hover{
                background-color: #ccf3e9;
            }
        }
    }
}

._3wsj._3QBC{
    font-size: 12px;
    line-height: normal;
    position: relative;
    width: 100%;
    padding: 15px;
    background-color: white;
    border-radius: 8px;

    .oTaE{
        width: 100%;

        .LB4I{
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;    
            flex-wrap: wrap;

            ._3fS2.o-cw._22vv._1V5z._37kk{
                opacity: 1;
                pointer-events: all;
                display: initial;
                flex-basis: 58.33333333%;
                max-width: 58.33333333%;

                ._1aWI{
                    margin: 0;
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            ._3fS2.o-cw._22vv._19wA._1KKs{
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                opacity: 1;
                pointer-events: all;
                display: initial;
                flex-basis: 41.66666667%;
                max-width: 41.66666667%;
            }

            ._3fS2.o-cw{
                opacity: 1;
                pointer-events: all;
                display: initial;
                flex-basis: 100%;
                max-width: 100%;

                ._1Mfu{
                    display: block;
                    margin: 16px auto 0;
                    text-align: center;
                    font-size: 18px;
                    color: #324c5b;
                }

                ._2Enb{
                    margin: 64px auto 32px;
                    max-width: 560px;

                    ._3ezC{
                        position: relative;

                        ._1brA{
                            position: absolute;
                            color: #fff;
                            font-size: 14px;
                            transform: translate(-50%, calc(-50% - 0.5em));
                            z-index: 2;

                            ._38qN{
                                text-align: center;
                                padding: 2px 4px;
                                border-radius: 4px;
                                width: 54px;
                                background: #2a3e49; 
                            }

                            ._3yEU{
                                width: 0;
                                height: 0;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: -1px;
                                background: transparent;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 5px solid #2a3e49;
                            }

                            ._3-3k{
                                width: 2px;
                                height: 22px;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: -1px;
                                background: #2a3e49;
                            }
                        }

                        .s0y4.tTT7{
                            width: 100%;

                            .wW2c.tTT7{
                                height: 48px;
                                background: #e5ebee;
                                border-radius: 4px;
                                width: 100%;
                                display: flex;
                                align-items: center;
                                position: relative;
                                font-weight: 700;

                                ._3ugj{
                                    align-items: center;
                                    height: 100%;
                                    border-radius: 4px;
                                    display: flex;
                                    position: relative;
                                    z-index: 1;
                                    overflow: hidden;
                                    transition: width 0.6s;
                                    background: #1acb82;
                                    box-shadow: 0 6px 10px 0 rgba(26,203,130,0.16);

                                    .wD7J{
                                        display: inline-flex;
                                        color: #fff;

                                        &::before{
                                            content: "";
                                            width: 16px;
                                        }
                                    }
                                }

                                .wD7J.lz4G.tTT7{
                                    height: 48px;
                                    display: flex;
                                    align-items: center;
                                    color: #324c5b;
                                    position: absolute;
                                    top: 0;

                                    &::before{
                                        content: "";
                                        width: 16px;
                                    }
                                }
                            }

                            .nKyy{
                                display: flex;
                                justify-content: space-between;
                                margin-top: 4px;
                                font-size: 14px;
                                color: #7b93a4;
                            }
                        }
                    }
                }

                .oTaE{
                    width: 100%;

                    .LB4I._298o{
                        position: relative;
                        display: grid;
                        grid-template-columns: 2fr 1fr 2fr;

                        ._3fS2._19bJ{
                            flex-grow: 0;
                            grid-column-start: 2;

                            ._3SdL._3j13._1USz {
                                color: #12c48b;
                                background-color: #e7f9f3;
                                padding-left: 15px;
                                padding-right: 15px;
                                position: relative;
                                display: block;
                                height: 34px;
                                line-height: 34px;
                                width: 100%;
                                padding: 0 8px;
                                border-radius: 4px;
                                text-align: center;
                                text-decoration: none;
                                cursor: pointer;
                                outline: none;
                                font-size: 14px;
                                font-weight: 600;
                                border: none;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                transition: background-color .2s ease-in-out;

                                &:hover{
                                    background-color: #ccf3e9;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


.ReactModal__Content.ReactModal__Content--after-open._2RxW.otWy{
    ._3EUw{
        form{
            ._2ZwS._3U03._2VOV{
                position: static;
                width: 600px !important;
                max-width: 600px !important;

                ._36Dk{
                    position: absolute;
                    right: 0;
                    top: 0;
                    transform: translate(50%, -50%);

                    .egUi.B8bm {
                        border-radius: 50%;
                        background: #7b93a4;
                        color: #fff;
                        transition: background-color .2s ease-in-out;
                        width: 30px;
                        height: 30px;
                        border: none;
                        cursor: pointer;
                        font-size: 14px;

                        ._2nf9{
                            display: inline-block;
                            position: relative;
                            top: -1px;
                        }
                    }
                }

                ._1Fvn._2VOV{
                    color: #324c5b;
                    font-size: 24px;
                    text-align: center;
                    font-weight: 500;
                    margin-top: 0px;
                    margin-bottom: 18px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin: 0.67em 0;
                }

                ._13pY{
                    .j4fJ{
                        ._2BJz{
                            max-width: 560px;
                            margin: 0 auto;

                            ._1Zok{
                                color: #324c5b;
                                text-align: center;
                                font-weight: 500;
                                margin-bottom: 18px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                display: flex;
                                align-items: center;
                                font-size: 18px !important;

                                svg{
                                    margin-right: 8px;
                                }
                            }

                            ._2wfn{
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;

                                ._2Gra.required._1rNF{
                                    display: block;
                                    position: relative;
                                    width: 272px;
                                    margin-bottom: 16px;

                                    ._2Aam{
                                        display: flex;

                                        ._1Hry._6bvf{
                                            flex-grow: 1;
                                            margin-bottom: 3px;
                                            font-size: 12px;
                                            color: #7b93a4;
                                            cursor: unset;
                                        }
                                    }

                                    ._1DjS.required{
                                        display: flex;
                                        width: 100%;
                                        border-radius: 4px;
                                        align-items: stretch;
                                        border: 1px solid transparent;
                                        background-color: #fff;
                                        border-color: #e5ebee;
                                        color: #324c5b;

                                        ._3fMh{
                                            display: flex;
                                            align-items: stretch;
                                            width: 100%;
                                            flex-grow: 1;

                                            input{
                                                width: 100%;
                                                padding: 0 8px;
                                                background-color: transparent;
                                                border: none;
                                                font-size: 14px;
                                                height: 36px;
                                                outline: none;
                                                line-height: 36px;
                                                transition: color .2s ease-in-out;

                                                &:disabled{
                                                   background-color:#e5ebee;
                                                }
                                            }

                                            input[type=number]::-webkit-inner-spin-button, 
                                            input[type=number]::-webkit-outer-spin-button { 
                                            -webkit-appearance: none; 
                                            margin: 0; 
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                ._2axu{
                    width: 70%;
                    margin: 10px auto;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    flex-shrink: 0;
                    margin-bottom: 0;

                    ._3WuR._3SdL{
                        width: 100%;
                        margin-bottom: 15px;
                        position: relative;
                        display: block;
                        height: 34px;
                        line-height: 34px;
                        padding: 0 8px;
                        border-radius: 4px;
                        text-align: center;
                        text-decoration: none;
                        outline: none;
                        font-size: 14px;
                        font-weight: 600;
                        border: none;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    ._3WuR._3SdL._2_oj{
                        &:disabled{
                            background-color: #e5ebee;
                            color: #7b93a4;
                            box-shadow: none;
                        }

                        background-color: #12c48b;
                        color: #fff;
                        margin-bottom: 15px;
                    }

                    ._3WuR._3SdL._3qcS{
                        background-color: #7b93a4;
                        color: #fff;
                    }

                    div{
                        ._3WuR._1gOp{
                            position: relative;
                            display: inline;
                            color: #7b93a4;
                            border: none;
                            cursor: pointer;
                            outline: none;
                            text-decoration: underline;
                            white-space: nowrap;
                            transition: color .2s ease-in-out;
                            background-color: transparent;

                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}