._2_yG {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

._1HLS {
  color: #93a1aa;
  margin-top: 1em;
}

._1iMn {
   display: inline-block;
   width: 16px;
   height: 16px;
   vertical-align: middle;
   border: 2px solid currentColor;
   border-top: 2px solid transparent;
   border-radius: 50%;
   -webkit-animation: _2A_K 1.5s linear infinite;
   animation: _2A_K 1.5s linear infinite;
 }

._3KBo {
  margin-right: 5px;
}

.LB4I._3je1{
  align-items: flex-end;
}

._2ZwS {
  ._13pY{
    ._2GnZ{
      text-align: center;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;

      ._1bps{
        background: #fb6666;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        border-radius: 100%;

        svg{
          fill: white;
        }
      }
    }

    h1{
      color: #324c5b;
      font-size: 24px;
      text-align: center;
      font-weight: 500;
      margin-top: 0px;
      margin-bottom: 18px;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .j4fJ{
      p{
        margin-bottom: 25px;
        line-height: 1.57;
        text-align: center;
        font-size: 14px;
        color: #7b93a4;
      }
    }
  }
}

