._1BN0{
    margin: 0 auto 50px;
    background-color: transparent;

    .oTaE{
        width: 100%;

        .LB4I{
            margin: 0px -0.5rem;
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            flex-wrap: wrap;

            ._3fS2._1gp8._3YAn{
                padding: 0.5rem;
                flex: 0 0 auto;
                flex-grow: 1;
                margin-top: -0.5rem;
                opacity: 1;
                pointer-events: all;
                display: initial;
                flex-basis: 25%;
                max-width: 25%;

                ._2tYm{
                    width: 100%;
                    background-color: inherit;

                    nav{
                        .LWqP{
                            display: flex;
                            flex-direction: column;
                            margin: 0;
                            padding: 0;

                            li{
                                margin-right: -30px;
                                display: block;

                                ._3WuR{
                                    padding: 0 10px;
                                    display: block;
                                    width: 100%;
                                    height: 55px;
                                    line-height: 55px;
                                    text-decoration: none;
                                    border-radius: 3px 0 0 3px;
                                    font-weight: 600;
                                    transition: all .2s ease-in-out;

                                    &:hover{
                                        background-color: white;
                                        color: #12c48b;
                                    }
                                }

                                ._1gOp{
                                    color: #7b93a4;
                                    position: relative;
                                    border: none;
                                    cursor: pointer;
                                    outline: none;
                                    white-space: nowrap;
                                }

                                .selected{
                                    background-color: white;
                                    color: #12c48b;
                                }
                            }
                        }
                    }
                }
            }  
            
            ._3fS2.o-cw._287O._1Ary{
                opacity: 1;
                pointer-events: all;
                display: initial;
                flex-basis: 75%;
                max-width: 75%;
                padding: 0 !important;

                ._1S3-{
                    padding: 10px 0;
                    width: 100%;
                    background-color: white;
                    border-radius: 10px;

                    ._3AQP{
                        padding: 24px 120px 40px;

                        div{
                            form{
                                ._33IL{
                                    padding: 12px 0;
                                    background-color: transparent;
                                    margin: 20px 0;
                                    border: 0;

                                    .wqjZ{
                                        font-size: 14px;
                                        color: #324c5b;
                                        font-weight: 600;
                                        display: table;
                                        max-width: 100%;
                                        padding: 0;
                                        white-space: normal;
                                    }

                                    .oTaE{
                                        width: 100%;

                                        .LB4I{
                                            margin: 0px -0.5rem;
                                            display: flex;
                                            flex: 0 1 auto;
                                            flex-direction: row;
                                            flex-wrap: wrap;

                                            ._3fS2.o-cw{
                                                padding: 0.5rem;
                                                opacity: 1;
                                                pointer-events: all;
                                                display: initial;
                                                flex-basis: 100%;
                                                max-width: 100%;

                                                ._2vFQ{
                                                    margin-bottom: 3px;
                                                    font-size: 12px;
                                                    color: #7b93a4;
                                                }

                                                ._3yxU{
                                                    display: table;
                                                    max-width: 100%;
                                                    margin-top: 8px;

                                                    div{
                                                        display: table-cell;
                                                        vertical-align: middle;
                                                        padding-left: 10px;

                                                        &:first-child{
                                                            padding-right: 10px;
                                                            padding-left: 0;

                                                            ._3CNs{
                                                                display: block;
                                                                width: 96px;
                                                                height: 96px;
                                                                border-radius: 50%;
                                                                text-align: center;
                                                                border: solid 1px transparent;
                                                                padding: 0;

                                                                ._1vBK{
                                                                    position: relative;
                                                                    width: inherit;
                                                                    height: inherit;
                                                                    border-radius: inherit;
                                                                    object-fit: cover;
                                                                    padding: 0;

                                                                    ._2IY9{
                                                                        width: inherit;
                                                                        height: inherit;
                                                                        border-radius: inherit;
                                                                        object-fit: cover;
                                                                        padding: 0;

                                                                        img{
                                                                            width: inherit;
                                                                            height: inherit;
                                                                            border-radius: inherit;
                                                                            object-fit: cover;
                                                                        }
                                                                    }

                                                                    .ZU-i{
                                                                        width: inherit;
                                                                        height: inherit;
                                                                        border-radius: inherit;
                                                                        object-fit: cover;
                                                                        position: relative;
                                                                        display: none;
                                                                        flex-flow: column;
                                                                        align-items: center;
                                                                        justify-content: center;
                                                                        padding: 10px;
                                                                        font-size: 12px;
                                                                        font-weight: 600;
                                                                        color: #12c48b;
                                                                        background-color: #e7f9f3;
                                                                        border: 2px dashed #12c48b;
                                                                        cursor: pointer;
                                                                        transition: background-color .2s ease-in-out;
                                                                    }

                                                                    input{
                                                                        position: absolute;
                                                                        bottom: 0;
                                                                        right: 0;
                                                                        opacity: 1e-05;
                                                                        top: 0;
                                                                        left: 0;
                                                                        padding-left: 12px;
                                                                        cursor: pointer;
                                                                    }
                                                                }
                                                            }
                                                        }

                                                        .egUi.uploadAvatar._3SdL._3j13 {
                                                            color: #12c48b;
                                                            background-color: #e7f9f3;
                                                            text-align: center;
                                                            position: relative;
                                                            display: block;
                                                            height: 34px;
                                                            line-height: 34px;
                                                            width: 100%;
                                                            padding: 0 8px;
                                                            border-radius: 4px;
                                                            text-decoration: none;
                                                            cursor: pointer;
                                                            outline: none;
                                                            font-size: 14px;
                                                            font-weight: 600;
                                                            border: none;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            white-space: nowrap;
                                                            transition: background-color .2s ease-in-out;
                                                            pointer-events: none; 

                                                            &:hover{
                                                                background-color: #ccf3e9;
                                                            }

                                                            ._2nf9{
                                                                display: inline-block;
                                                                position: relative;
                                                                top: 3px;
                                                                line-height: 34px;

                                                                svg{
                                                                   fill: #12c48b; 
                                                                }
                                                            }

                                                            .A4xM{
                                                                margin-left: 10px;
                                                            }
                                                        }

                                                        .egUi.removeInverse._3SdL.DfeI {
                                                            background-color: #feefef;
                                                            color: #f14c52;
                                                            position: relative;
                                                            text-align: center;
                                                            display: block;
                                                            height: 34px;
                                                            line-height: 34px;
                                                            width: 100%;
                                                            padding: 0 8px;
                                                            border-radius: 4px;
                                                            text-decoration: none;
                                                            cursor: pointer;
                                                            outline: none;
                                                            font-size: 14px;
                                                            font-weight: 600;
                                                            border: none;
                                                            overflow: hidden;
                                                            text-overflow: ellipsis;
                                                            white-space: nowrap;
                                                            transition: background-color .2s ease-in-out;

                                                            &:hover{
                                                                background-color: rgb(240, 224, 224);
                                                            }
                                                            
                                                            ._2nf9{
                                                                display: inline-block;
                                                                position: relative;
                                                                top: 3px;

                                                                svg{
                                                                    fill: #f14c52;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            ._3fS2._1SIO{
                                                padding: 0.5rem;
                                                opacity: 1;
                                                pointer-events: all;
                                                display: initial;
                                                flex-basis: 50%;
                                                max-width: 50%;

                                                .iLEV.IhHS{
                                                    display: block;
                                                    position: relative;

                                                    .BVod{
                                                        display: flex;

                                                        ._1Baa.inline.IhHS{
                                                            flex-grow: 1;
                                                            margin-bottom: 3px;
                                                            font-size: 12px;
                                                            color: #7b93a4;
                                                            user-select: none;
                                                            cursor: pointer;
                                                        }
                                                    }

                                                    ._3Iet.IhHS{
                                                        color: #324c5b;
                                                        transition: all .2s ease-in-out;
                                                        display: flex;
                                                        width: 100%;
                                                        border-radius: 4px;
                                                        align-items: stretch;
                                                        border: 1px solid #e5ebee;
                                                        background-color: #fff;

                                                        ._2ieP{
                                                            display: flex;
                                                            align-items: stretch;
                                                            width: 100%;
                                                            flex-grow: 1;

                                                            input{
                                                                width: 100%;
                                                                padding: 0 8px;
                                                                background-color: transparent;
                                                                border: none;
                                                                font-size: 14px;
                                                                height: 36px;
                                                                outline: none;
                                                                line-height: 36px;
                                                                transition: color .2s ease-in-out;
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            ._3fS2._1SIO{
                                                .iLEV{
                                                    display: block;
                                                    position: relative;

                                                    .BVod{
                                                        display: flex;

                                                        ._1Baa.inline{
                                                            flex-grow: 1;
                                                            margin-bottom: 3px;
                                                            font-size: 12px;
                                                            color: #7b93a4;
                                                            user-select: none;
                                                            cursor: pointer;
                                                        }
                                                    }

                                                    ._3Iet{
                                                        color: #324c5b;
                                                        transition: all .2s ease-in-out;
                                                        display: flex;
                                                        width: 100%;
                                                        border-radius: 4px;
                                                        align-items: stretch;
                                                        border: 1px solid #e5ebee;
                                                        background-color: #fff;

                                                        ._2ieP{
                                                            display: flex;
                                                            align-items: stretch;
                                                            width: 100%;
                                                            flex-grow: 1;

                                                            .Select-control{
                                                                border-radius: 4px;
                                                                color: #333;
                                                                cursor: default;
                                                                display: table;
                                                                border-spacing: 0;
                                                                border-collapse: separate;
                                                                height: 36px;
                                                                outline: none;
                                                                overflow: hidden;
                                                                position: relative;
                                                                width: 100%;

                                                                select{
                                                                    outline: none;
                                                                    border: none;
                                                                    width: 100%;
                                                                    font-size: 14px;
                                                                    height: 36px;
                                                                    padding-left: 5px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            ._3fS2.o-cw._1ubS{
                                                padding: 0.5rem;
                                                opacity: 1;
                                                pointer-events: all;
                                                display: initial;
                                                flex-basis: 50%;
                                                max-width: 50%;

                                                .iLEV{
                                                    display: block;
                                                    position: relative;

                                                    .BVod{
                                                        display: flex;

                                                        ._1Baa.inline{
                                                            flex-grow: 1;
                                                            margin-bottom: 3px;
                                                            font-size: 12px;
                                                            color: #7b93a4;
                                                            user-select: none;
                                                            cursor: pointer;
                                                        }
                                                    }

                                                    ._3Iet._31bC{
                                                        display: flex;
                                                        width: 100%;
                                                        border-radius: 4px;
                                                        align-items: stretch;
                                                        background-color: #fff;

                                                        ._2ieP{
                                                            display: flex;
                                                            align-items: stretch;
                                                            width: 100%;
                                                            flex-grow: 1;

                                                            .VvaX{
                                                                display: flex; 
                                                                width: 100%;

                                                                ._1nm3{
                                                                    margin: 0 0.5rem;
                                                                }

                                                                div{
                                                                    flex-basis: 33.33%;

                                                                    .iLEV.IhHS{
                                                                        display: block;
                                                                        position: relative;

                                                                        ._3Iet.IhHS{
                                                                            display: flex;
                                                                            width: 100%;
                                                                            border-radius: 4px;
                                                                            align-items: stretch;
                                                                            border: 1px solid #e5ebee;

                                                                            ._2ieP{
                                                                                display: flex;
                                                                                align-items: stretch;
                                                                                width: 100%;
                                                                                flex-grow: 1;

                                                                                select{
                                                                                   width: 100%;
                                                                                   outline: none;
                                                                                   border: none;
                                                                                   height: 36px;
                                                                                   color: #324c5b;
                                                                                   line-height: 38px;
                                                                                   font-size: 14px;
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }

                                                    ._3Iet.IhHS{
                                                        color: #324c5b;
                                                        transition: all .2s ease-in-out;
                                                        display: flex;
                                                        width: 100%;
                                                        border-radius: 4px;
                                                        align-items: stretch;
                                                        border: 1px solid #e5ebee;
                                                        background-color: #fff;
                                                    
                                                        ._2ieP{
                                                            display: flex;
                                                            align-items: stretch;
                                                            width: 100%;

                                                            input{
                                                                width: 100%;
                                                                padding: 0 8px;
                                                                background-color: transparent;
                                                                border: none;
                                                                font-size: 14px;
                                                                height: 36px;
                                                                outline: none;
                                                                line-height: 36px;
                                                                transition: color .2s ease-in-out;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                div{
                                    .LB4I{
                                        margin: 0px -0.5rem;
                                        display: flex;
                                        flex: 0 1 auto;
                                        flex-direction: row;
                                        flex-wrap: wrap;

                                        ._3fS2.o-cw._1ubS{
                                            padding: 0.5rem;
                                            opacity: 1;
                                            pointer-events: all;
                                            display: initial;
                                            flex-basis: 50%;
                                            max-width: 50%;

                                            ._3SdL._2_oj{
                                                background-color: #12c48b;
                                                color: #fff;
                                                box-shadow: none;
                                                position: relative;
                                                display: block;
                                                height: 34px;                                           
                                                line-height: 34px;
                                                width: 100%;
                                                padding: 0 8px;                                      
                                                border-radius: 4px;
                                                text-align: center;
                                                text-decoration: none;
                                                outline: none;
                                                font-size: 14px;
                                                font-weight: 600;
                                                overflow: hidden;
                                                border: none;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                                cursor: pointer;

                                                &:disabled{
                                                    background-color: #e5ebee;
                                                    color: #7b93a4;
                                                    cursor: default;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            hr{
                                display: block;
                                height: 1px;
                                border: 0;
                                border-top: 1px solid #e5ebee;
                                background-color: transparent;
                                margin: 1em 0;
                                padding: 0;
                            }

                            div{
                                ._3WuR._1gOp{
                                    font-size: 14px;
                                    display: block;
                                    text-align: right;
                                    position: relative;
                                    color: #7b93a4;
                                    border: none;
                                    cursor: pointer;
                                    outline: none;
                                    text-decoration: underline;
                                    white-space: nowrap;

                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                }

                ._3OSu{
                    width: 100%;
                    padding-top: 1rem;
                    font-size: 14px;
                    text-align: center;

                    span{
                        font-size: 14px;
                        text-align: center;

                        button{
                            color: #324c5b;
                            position: relative;
                            display: inline;
                            border: none;
                            cursor: pointer;
                            outline: none;
                            text-decoration: underline;
                            white-space: nowrap;
                            transition: color .2s ease-in-out;
                            background-color: transparent;
                            font-size: 14px;
                            text-align: center;

                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            } 
        }
    }
}

.ReactModal__Overlay{
    opacity: 0;
    z-index: -1000;
    transition: opacity 200ms ease-in-out;
    padding-top: 60px;
    padding-bottom: 20px;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;

    .ReactModal__Content.ReactModal__Content--after-open._2RxW{
        position: relative;
        overflow: visible;
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(48,82,120,0.16);
        outline: none;
        background: #fff;
        margin: auto;

        ._3EUw{
            form{
                ._2ZwS {
                    min-width: 460px;
                    max-width: 460px;
                    margin: 40px 50px;

                    ._13pY{
                        ._36Dk{
                            position: absolute;
                            right: 0;
                            top: 0;
                            transform: translate(50%, -50%);

                            .egUi.B8bm {
                                font-size: 14px;
                                border-radius: 50%;
                                background: #7b93a4;
                                color: #fff;
                                transition: background-color .2s ease-in-out;
                                width: 30px;
                                height: 30px;
                                text-align: center;
                                border: none;
                                cursor: pointer;

                                ._2nf9{
                                    display: inline-block;
                                    position: relative;
                                    top: -1px;
                                }
                            }
                        }

                        ._1Fvn{
                            color: #324c5b;
                            font-size: 24px;
                            text-align: center;
                            font-weight: 500;
                            margin-top: 0px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            margin-bottom: 18px;
                            margin: 0.67em 0;
                        }

                        .j4fJ{
                            z-index: -1;

                            p{
                                margin-bottom: 25px;
                                line-height: 1.57;
                                text-align: center;
                            }

                            ._1V4J{
                                width: 70%;
                                margin: 10px auto;

                                ._2k7K._3fHy{
                                    font-size: 14px;
                                    color: #7b93a4;
                                    display: flex;
                                    transition: color .2s ease-in-out;
                                    width: 100%;
                                    margin-bottom: 15px;
                                    align-items: flex-start !important;

                                    &:hover{
                                        ._17Fo._1D3_{
                                            border-color: #12c48b;
                                        }
                                    }

                                    ._17Fo._1D3_{
                                        width: 20px;
                                        min-width: 20px;
                                        height: 20px;
                                        min-height: 20px;
                                        border-radius: 4px;
                                        border: 1px solid transparent;
                                        border-color: #e5ebee;
                                        position: relative;
                                        margin-right: 12px;

                                        ._4Nff{
                                            display: inline-flex;
                                            align-items: center;
                                            justify-content: center;
                                            border-radius: 4px;
                                            transition: box-shadow .2s cubic-bezier(0,1.05,.72,1.07), -webkit-box-shadow .2s cubic-bezier(0,1.05,.72,1.07);
                                            cursor: pointer;
                                            width: 20px;
                                            min-width: 20px;
                                            height: 20px;
                                            min-height: 20px;
                                            border-color: #e5ebee;
                                            top: -1px;
                                            left: -1px;
                                            position: absolute;

                                            &::after{
                                                content: '';
                                                position: absolute;
                                                top: 3px;
                                                left: 7px;
                                                width: 5px;
                                                height: 11px;
                                                opacity: 0;
                                                transform: rotate(
                                                    45deg) scale(0);
                                                border-right: 2px solid #fff;
                                                border-bottom: 2px solid #fff;
                                                transition-delay: .15s;
                                            }
                                        }
                                    }

                                    ._17Fo._1D3_._3FsX{
                                        ._4Nff{
                                            box-shadow: 0px 0px 0px 10px #12c48b inset;

                                            &::after{
                                                transform: rotate(45deg) scale(1);
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    ._2axu{
                        width: 70%;
                        margin: 10px auto;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex-shrink: 0;

                        ._3SdL._1_Kr {
                            &:disabled{
                                background-color: #e5ebee;
                                color: #7b93a4;
                                box-shadow: none;
                                cursor: pointer;
                            }

                            width: 100%;
                            margin-bottom: 15px;
                            background-color: #f14c52;
                            color: #fff;
                            transition: all .2s ease-in-out;
                            cursor: initial;
                            position: relative;
                            display: block;
                            height: 34px;
                            line-height: 34px;
                            padding: 0 8px;
                            border-radius: 4px;
                            text-align: center;
                            text-decoration: none;
                            outline: none;
                            font-size: 14px;
                            font-weight: 600;
                            border: none;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        ._3WuR._1gOp {
                            margin-bottom: 0;
                            text-align: center;
                            width: 100%;
                            position: relative;
                            display: inline;
                            color: #7b93a4;
                            border: none;
                            cursor: pointer;
                            outline: none;
                            text-decoration: underline;
                            white-space: nowrap;
                            transition: color .2s ease-in-out;

                            &:hover{
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open{
    opacity: 1;
    z-index: 1000;
}